# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* Create few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. Scala
3. R
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. scikit-learn
3. numpy

| Data Science Tools | 
| --- | 
| Jupyter Notebook | 
| RStudio | 
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Tanguy Hedrich